  /* GENERAL STYLES */

  h1, h2 {
    color: white;
  }

  #toprow, #bottomrow {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1em;
  }
  /* OVERRIDE SIMPLE GRID STYLES */

  .container {
    width: 100%;
    max-width: 100%;
  }

  .col-12 {
    width: 100%;
  }
  /* START OF BUTTON STYLES */

  .btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 12em;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    width: 6em;
    outline: none;
  }

  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .btn_weak {
    color: #fff;
    background-color: #adbac2;
    border: 0;
  }

  .btn_weak:hover {
    color: #fff;
    background-color: #cfdce4;
  }

  .button_row {
    margin: 1em;
  }

  .button_row_bottom, .search_row {
    margin: 2em;
  }

  .search, .reset {
    width: 14em;
  }
  /* END OF BUTTON STYLES */
  /* START OF CHECKBOX STYLES */

  input[type=checkbox] {
    outline: none;
    width: 58px;
    height: 23px;
    font-size: 11px;
    line-height: 2;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #B9B9B9;
    -webkit-appearance: none;
    background-color: #E8E8E8;
    box-shadow: 0px 1px 2px #AFAFAF inset;
    color: #7F7F7F;
  }

  input[type=checkbox]:checked {
    background-color: #3498db;
    box-shadow: 0px 1px 2px #1449A3 inset;
    color: #fff;
    text-shadow: 0px -1px 1px #000;
    border: 1px solid #99B9E8;
  }

  input[type=checkbox]:before {
    content: 'NO ';
    border-radius: 8px;
    border-top: 1px solid #F7F7F7;
    border-right: 1px solid #999999;
    border-bottom: 1px solid: #BABABA;
    border-left: 1px solid #BDBDBD;
    background-color: #D8D8D8;
    height: 20px;
    width: 22px;
    display: inline-block;
    text-indent: 27px;
  }

  input[type=checkbox]:checked:before {
    content: 'YES';
    text-indent: -25px;
    margin-left: 33px;
  }
  /* END OF CHECKBOX STYLES */
  /* START OF SEARCHBOX STYLES */

  #searchtext {
    padding: 16px;
    width: 28em;
    margin: auto;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    font-size: large;
  }
input:focus, #searchtext:focus { outline: 0;  }

  /* END OF SEARCHBOX STYLES */
